# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# JWT
JWT_SECRET=Medigence_amit_secret_key
JWT_EXPIRY=7d

# Supabase
SUPABASE_URL=https://ykqropemaicmowvaqvux.supabase.co
SUPABASE_KEY=sb_publishable_9oOMo7A8K-K0GyDnVDKmDw_dXLEfByH
# SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# Database
DATABASE_URL=your_supabase_connection_string_here
